<div class="card">
	<img src="https://geetha96.github.io/assets/dummy.jpg" />
	<p>{{employee.Name}}</p>
	<p>1001</p>
	<button routerLink="/employee-list">back</button>
</div>
<table>
	<tr>
		<th>Name</th>
		<td>{{employee.Name}}</td>
	</tr>
	<tr>
		<th>Age</th>
		<td>{{employee.Age}}</td>
	</tr>
  <tr>
		<th>Email</th>
		<td>{{employee.Email}}</td>
	</tr>
  <tr>
		<th>Street</th>
		<td>{{employee.Street}}</td>
	</tr>
  <tr>
		<th>City</th>
		<td>{{employee.City}}</td>
	</tr>
  <tr>
		<th>Zip</th>
		<td>{{employee.Zip}}</td>
	</tr>
  <tr>
		<th>Region</th>
		<td>{{employee.Region}}</td>
	</tr>
  <tr>
		<th>Country</th>
		<td>{{employee.Country}}</td>
	</tr>
  <tr>
		<th>Info</th>
		<td>{{employee.Info}}</td>
	</tr>
  <tr>
		<th>EmployeeID</th>
		<td>{{employee.EmployeeID}}</td>
	</tr>
  <tr>
		<th>DateOfJoining</th>
		<td>{{employee.DateOfJoining}}</td>
	</tr>
  <tr>
		<th>PhoneNumber</th>
		<td>{{employee.PhoneNumber}}</td>
	</tr>
</table>