<nav>
	<ul>
		<li><a routerLink="/login">
				{{'login' | language}}
			</a></li>
		<li><a routerLink="/signup">
				{{'signup' | language}},
				{{'username' | language}},
				{{'password' | language}},
				{{'retype password' | language}}
			</a></li>
		<li><a routerLink="/dummy">
				dummy
			</a></li>
		<li><a routerLink="/error">
				error
			</a></li>
		<li><a>
				contactus
			</a></li>
		<li><a>
				Info
			</a></li>
		<li><a>
				home
			</a></li>
		<li>
			<select (change)="changeLanguage()">
        <option value="Tamil">Choose one</option>
        <option value="Tamil">Tamil</option>
        <option value="English">English</option>
        <option value="Hindi">Hindi</option>
        <option value="French">French</option>
      </select>
		</li>
	</ul>
</nav>
<!-- <p>
  localStorage.setItem('user','Ramya')
undefined
sessionStorage
Storage {length: 0}
sessionStorage.setItem('DOB','31/03/1999')
undefined
localStorage.getItem('user')
"Ramya"
sessionStorage.getItem('DOB')
"31/03/1999"
</p> -->