<nav>
	<ul>
		<li><a routerLink="/login">
				<i class="fas fa-sign-in-alt"></i> {{'login' | language}}
			</a></li>
		<li><a routerLink="/signup">
				<i class="fas fa-user-plus"></i> {{'signup' | language}}
				<!-- {{'username' | language}},
				{{'password' | language}},
				{{'retype password' | language}} -->
			</a></li>
		<li><a routerLink="/dummy">
				<i class="far fa-grin-tongue-wink"></i> dummy
			</a></li>
		<li><a routerLink="/error">
				<i class="fas fa-exclamation-triangle"></i> error
			</a></li>
		<!-- <li><a>
				<i class="far fa-id-badge"></i> contactus
			</a></li> -->
		<li><a routerLink="/pagination">
				<i class="fas fa-info"></i> Pagination
			</a></li>
		<!-- <li><a>
				<i class="fas fa-home"></i> home
			</a></li> -->
		<!-- <li><a routerLink="/employee-detail">
				employee-detail
			</a></li> -->
		<li><a routerLink="/employee-list">
				<i class="far fa-id-badge"></i> employee-list
			</a></li>
		<li>
      <li><a routerLink="/todo">
				<i class="far fa-id-badge"></i> todo
			</a></li>
		<li>
			<select (change)="changeLanguage()">
        <option value="Tamil">Choose one</option>
        <option value="Tamil">Tamil</option>
        <option value="English">English</option>
        <option value="Hindi">Hindi</option>
        <option value="French">French</option>
      </select>
		</li>
	</ul>
</nav>
<!-- <p>
  localStorage.setItem('user','Ramya')
undefined
sessionStorage
Storage {length: 0}
sessionStorage.setItem('DOB','31/03/1999')
undefined
localStorage.getItem('user')
"Ramya"
sessionStorage.getItem('DOB')
"31/03/1999"
</p> -->