<nav>
	<ul>
		<li><a>
				{{'login' | language}}
			</a></li>
		<li><a>
				signup
			</a></li>
		<li><a>
				contactus
			</a></li>
		<li><a>
				Info
			</a></li>
		<li><a>
				home
			</a></li>
		<li>
			<select>
        <option>Tamil</option>
        <option>English</option>
        <option>Hindi</option>
        <option>French</option>
      </select>
		</li>
	</ul>
</nav>
<!-- <p>
  localStorage.setItem('user','Ramya')
undefined
sessionStorage
Storage {length: 0}
sessionStorage.setItem('DOB','31/03/1999')
undefined
localStorage.getItem('user')
"Ramya"
sessionStorage.getItem('DOB')
"31/03/1999"
</p> -->