<p>
	dummy works!
</p>
<input type="text" [value]="hello">
<button (click)="chsngeme()">change me</button>
<hello name="{{ name }}"></hello>
<!-- <p>
	Start editing to see some magic happen :)
</p>
<p>Parror!</p>
<p>pipe works!</p>
<p>{{'heLLo!' | uppercase}}</p>
<p>{{'heLLo!' | lowercase}}</p>
<p>{{'heLLo!' | titlecase}}</p>
<p>{{'heLLo!' | uppercase}}</p>
<p>{{now | date}}</p>
<p>{{now | date:'short'}}</p>
<p>{{now | date:'shortDate'}}</p>
<p>{{now | date:'short':'-5'}}</p>
<p>{{'hi' | language:'ENGLISH'}}</p>
<p>{{'hi' | language:'TAMIL'}}</p>
<p>{{'Hello' | language:'HINDI'}}</p> -->
<p *ngIf="showme">ngif directive</p>
<p [hidden]="showme">hidden directive</p>
<p [ngClass]="{'error':showme}">ng class directive</p>
<div class="card">card</div>