<app-navbar></app-navbar>
<hello name="{{ name }}"></hello>
<p>
  Start editing to see some magic happen :)
</p>
<p>Parror!</p>
<p>pipe works!</p>
<p>{{'heLLo!' | uppercase}}</p>
<p>{{'heLLo!' | lowercase}}</p>
<p>{{'heLLo!' | titlecase}}</p>
<p>{{'heLLo!' | uppercase}}</p>
<p>{{now | date}}</p>
<p>{{now | date:'short'}}</p>
<p>{{now | date:'shortDate'}}</p>
<p>{{now | date:'short':'-5'}}</p>
<p>{{'hi' | language:'ENGLISH'}}</p>
<p>{{'hi' | language:'TAMIL'}}</p>
<p>{{'Hello' | language:'HINDI'}}</p>