<div>
	<button (click)="previous()">Previous</button>
	<button (click)="one()">1</button>
	<button (click)="two()">2</button>
	<button (click)="three()">3</button>
	<button (click)="four()">4</button>
	<button (click)="five()">5</button>
	<button (click)="next()">Next</button>
	<select>
    <option>5</option>
    <option>10</option>
    <option>15</option>
    <option>20</option>
  </select>
</div>
<table>
	<tr>
		<th>index</th>
		<th>postId</th>
		<th>email</th>
		<th>body</th>
		<th>name</th>
		<th>id</th>
	</tr>
	<tr *ngFor="let comment of displayComments;index as i">
		<td>{{i}}</td>
		<td>{{comment.postId}}</td>
		<td>{{comment.email}}</td>
		<td>{{comment.body}}</td>
		<td>{{comment.name}}</td>
		<td>{{comment.id}}</td>
	</tr>
</table>