.loginForm {
  background-color: burlywood;
  width: 50%;
  margin: auto;
  margin-top: 12%;
  padding: 10px;
}
.loginForm input {
  width: 95%;
  padding: 6px;
  margin-bottom: 10px;
}
small {
  color: red;
  display: block;
}
